
<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="home">
            <img class="logo" src="https://acortar.link/8widOl" alt="Elex">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link custom-link" href="vista-expedientes">Expediente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-link" href="vista-documentos">Documentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-link" href="vista-tipos-expedientes">Tipo Expediente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-link" href="vista-actuaciones">Actuaciones</a>
                </li>
            </ul>
        </div>
    </div>
</nav>