<mat-form-field>
  <mat-label>Fecha</mat-label>
  <input matInput [(ngModel)]="inserccion.fecha" type="date" />
</mat-form-field>
<mat-form-field>
  <mat-label>Finalizado</mat-label>
  <mat-select [(value)]="inserccion.finalizada">
    <mat-option [value]="true">Finalizado</mat-option>
    <mat-option [value]="false">Sin finalizar</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>observaciones</mat-label>
  <textarea matInput [(ngModel)] = "inserccion.observaciones"></textarea>
</mat-form-field>
<mat-form-field>
  <mat-label>usuario</mat-label>
  <textarea matInput [(ngModel)] = "inserccion.usuario"></textarea>
</mat-form-field>
<mat-form-field>
  <mat-label>responsable1</mat-label>
  <textarea matInput [(ngModel)] = "inserccion.responsable1"></textarea>
</mat-form-field>
<mat-form-field>
  <mat-label>responsable2</mat-label>
  <textarea matInput [(ngModel)] = "inserccion.responsable2"></textarea>
</mat-form-field>
<mat-form-field>
  <mat-label>consejeria</mat-label>
  <textarea matInput [(ngModel)] = "inserccion.consejeria"></textarea>
</mat-form-field>
<mat-form-field>
  <mat-label>Tipo</mat-label>
  <mat-select [(value)]="inserccion.expediente">
    <mat-option *ngFor="let tipo of expedientes" [value]="tipo.id">{{tipo.nig}}</mat-option>
</mat-select>
</mat-form-field>
<section mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="inserccion" cdkFocusInitial>Aceptar</button>
</section>
