<div class="demo-button-container">
    <button mat-raised-button (click)="modalInsertarExpediente()" class="demo-button btn">
      Añadir Expediente
    </button>
</div>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>
  
 
    <ng-container matColumnDef="nig">
      <th mat-header-cell *matHeaderCellDef>nig</th>
      <td mat-cell *matCellDef="let element">{{element.nig}}</td>
    </ng-container>
  
  
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>fecha</th>
      <td mat-cell *matCellDef="let element">{{element.fecha}}</td>
    </ng-container>

    <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>estado</th>
        <td mat-cell *matCellDef="let element">{{element.estado}}</td>
      </ng-container>
  
  
    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef>opciones</th>
      <td mat-cell *matCellDef="let element">{{element.opciones}}</td>
    </ng-container>

    
    <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef>descripcion</th>
        <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
      </ng-container>

    <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef>tipo</th>
        <td mat-cell *matCellDef="let element">{{element.tipo.materia}}</td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="modalActualizarExpediente(element.nig)"><mat-icon>description</mat-icon></button>
          
          <button mat-button (click)="borrarExpediente(element.id)"><mat-icon>delete_outline</mat-icon></button>
        </td>
      </ng-container>
   
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>