html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: url('https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2022/12/20/16715363338279.jpg') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.95;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
}

